/* 
 * Kevin Powell Tutorial 
 * Source: https://youtu.be/cCAtD_BAHNw 
 */

/* Universal Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Margins, Paddings, and Font Inheritance */
* {
  margin: 0;
  padding: 0;
  font: inherit; /* Inheriting font properties */
}

body {
  min-height: 100vh; /* Ensuring body takes up full viewport height */
  font-family: sans-serif; /* Added default font-family for consistency, although most fonts already
  styled just leaving in case any issues*/
}

/* Responsive Media Elements */

video {
  display: block;
  max-width: 100%;
  height: auto; /* Similar to body im just keeping these for backup in case*/
}

/* Headings */
h1 {
  font-size: 36px;
  margin-bottom: 1rem;
}
