/* .text-center { 
  text-align: center;
}*/
/* Centers all of the text in the center */
h1 {
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h2 {
  color: #1a1f71;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h3 {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.center-list {
  text-align: center; /* Centers the content of the container */
}

.small-border-list {
  border: 1px solid white; /* 1px thin border, solid style, white color */
  padding: 30px; /* Adds space inside the border */
  background-color: #777373; /* Gray background color */
  width: fit-content; /* Adjusts the width to fit the content */
  margin: 10px auto; /* Centers the list on the page */
}

.center-list ol {
  display: inline-block; /* Allows the list to be treated as an inline element */
  text-align: left; /* Aligns the text within the list items */
  margin: 0; /* Resets default margin */
  padding: 20; /* Resets default padding */
  list-style-position: inside; /* Positions list numbers inside the text area */
} /*The code to center and align the list in question 2  */

p {
  font-size: large;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 30px;
  width: auto;
  background-color: #777373;
}

body {
  background-color: #708d93;
  text-align: center;
  margin: auto;
  max-width: 1000px;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font: size 2px;
  font-style: normal;
  color: #ffffff;
  font-size: 1.1rem;
}
