h1 {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* As my website is slightly inspired by his design I wanted to try and create similar elements in my own website.
Most of the text color and fonts are all a simple white and apple-like font like his website */
h2 {
  color: #1a1f71;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* Despite similarities I wanted to make my name and student number of a different color, 
otherwise all three titles would have been same the same color, which looked a little off to me   */
h3 {
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #708d93;
  /* I used the same backgorund color as rich browns website, So when his 
  link is clicked it has a smoother transition as they are both the same color */
  text-align: center; /* Making sure all the body text is in the center */
  margin: auto;
  max-width: 1000px;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font: size 2px;
  font-style: normal;
  color: #ffffff;
  font-size: 1.1rem;
}
/* I kept it well spaced out ensuring the text, size and position are all to my liking */

.center-list {
  text-align: center; /* Putting the list in the center as well */
}

.small-border-list {
  border: 1px solid white; /* Using a thin solid 1px border on the list, the color white helps match with the website */
  padding: 30px; /* For the spacing of the border next to the text I wanted to create a decent amount between them */
  background-color: #777373; /*like the other answer boxes I wanted to stick to grey for the list as well*/
}

.center-list ol {
  display: inline-block;
  text-align: left;
  margin: 8px;
  padding: 20;
  list-style-position: inside;
}
/* Continued styling the list to make it as clean and well aligned as possible */
p {
  font-size: large;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 30px;
  width: auto;
  background-color: #777373;
}
/* The styling for the paragraphs was also kept simple, 
sticking to white and a decent sized font for all the texts */
