/* Body Styling */
body {
  background-image: url("red stage.jpg");
  background-size: 100% var(--bg-height, 100vh); /* Adjust height dynamically */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
}

/* Instrument Container Styling */
.instrument-container {
  display: grid;
  grid-template-areas:
    "piano flute sax"
    "guitar drums bass"
    "violin . .";
  justify-content: center;
  align-items: center;
  gap: 20px; /* Space between instruments */
  width: 90%; /* Centered content */
  height: 80%; /* Keep within the viewport */
}

/* Individual Instrument Item Styling */
.instrument-item {
  position: relative;
  text-align: center;
}

/* Size the instruments realistically */
.instrument-image[data-instrument="drums"] {
  width: 400px; /* Largest */
  grid-area: drums;
}

.instrument-image[data-instrument="piano"] {
  width: 300px;
  grid-area: piano;
}

.instrument-image[data-instrument="guitar"] {
  width: 200px;
  grid-area: guitar;
}

.instrument-image[data-instrument="bass"] {
  width: 200px;
  grid-area: bass;
}

.instrument-image[data-instrument="sax"] {
  width: 170px;
  grid-area: sax;
}

.instrument-image[data-instrument="violin"] {
  width: 150px;
  grid-area: violin;
}

.instrument-image[data-instrument="flute"] {
  width: 80px; /* Smallest */
  grid-area: flute;
}

/* Image Styling with subtle hover effect */
.instrument-image {
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.instrument-image:hover {
  transform: scale(1.05); /* Slight zoom */
}

/* Instrument Description Styling */
.instrument-description {
  visibility: hidden;
  position: absolute;
  bottom: 100%; /* Position above the image */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  border-radius: 4px;
  max-width: 300px;
  width: 200%;
  max-height: 200px;
  overflow: auto;
  text-align: center;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.instrument-item:hover .instrument-description {
  visibility: visible;
  opacity: 1;
}
